.panier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panier h2 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.panier ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  list-style: none;
  padding: 0;

}

.panier li {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 100%;
}

.panier li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
.produitImg{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.panier li img {
  width: 50%;
  height: 50%;
}

.panier li .produitInfo {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.panier li h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.panier li p {
  font-size: 18px;
  margin-bottom: 10px;
}

.panier li .quantite {
  font-weight: bold;
  margin-top: auto;
  font-size: 20px;
  color: #777;
}

.panier li button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #ff5a5f;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: auto;
  width: 100%;
}

.panier li button:hover {
  background-color: #ff3b3f;
}

.panierTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.panierTotal p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #777;
}

.panierTotal .total {
  font-size: 32px;
  font-weight: bold;
  color: #ff5a5f;
}