.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.titre {
display: flex;
flex-direction: column;
background-color: #f9f9f9;
padding: 20px;
border-radius: 5px;
width: 80%;
text-align: center;
}

